---
http_interactions:
- request:
    method: post
    uri: https://www.timecamp.com/third_party/api/tasks/format/json/api_token/<API_TOKEN>/
    body:
      encoding: UTF-8
      string: name=test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"21130171":{"task_id":"21130171","parent_id":"0","name":"test","external_task_id":null,"external_parent_id":null,"level":"1","add_date":"2018-01-13
        05:04:56","archived":"0","color":"#34C644","tags":"","budgeted":"0","checked_date":null,"root_group_id":"80549","assigned_to":null,"assigned_by":null,"due_date":null,"note":null,"context":null,"folder":null,"repeat":null,"billable":"1","budget_unit":"hours","public_hash":null}}'
  recorded_at: Sat, 13 Jan 2018 04:04:57 GMT
recorded_with: VCR 3.0.3
